---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SEO from '../components/SEO.astro';
import '../styles/global.css';

export interface Props {
	title?: string;
	description?: string;
	image?: { src: string; width?: number; height?: number };
	type?: 'website' | 'article';
	publishedDate?: Date;
}

const { title, description, image, type, publishedDate } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<SEO
			title={title}
			description={description}
			image={image}
			type={type}
			publishedDate={publishedDate}
		/>
	</head>
	<body class="min-h-screen bg-white text-zinc-900 font-sans">
		<div class="mx-auto flex min-h-screen max-w-7xl flex-col px-4">
			<Header />
			<main class="flex-1">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
	<script>
		import { initFadeInImages } from "@scripts/animations";
		initFadeInImages();
	</script>
</html>
